/lit/
*.bak
*.dwl
*.dwl2
/prj/vs2012
*.log
*.obj
*.tlog
*.exe
*.iobj
*.*db
*.*pch
*.ilk
*.suo
/arx/2013-02/2013-02/Debug
/arx/2013-02/2013-02/Release
/arx/2013-02/Debug
/arx/2013-02/Release
*.sdf
*.opensdf
*.lastbuildstate
*.arx
*.exp
*.lib
*.cache
*.manifest
/godot
/prj
/txt
*.rc
*.res